body {
    font-family: Arial;
    background: #e6eafa;
    margin: 20px;
}
h1 {
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: 250px;
}
